<div class="card bg-base-100 animate-fadeIn shadow-xl">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2
      class="card-title font-montserrat text-accent cursor-pointer text-lg hover:underline"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice: 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a class="link link-accent" [routerLink]="['/product', product().slug]">
        Ver producto
      </a>
      <!-- <button class="btn btn-primary">Buy Now</button> -->
    </div>
  </div>
</div>
