@if (productResource.isLoading())
{
  <div class="flex h-screen items-center justify-center">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
}
<!-- producto -->
@if (productResource.hasValue())
{
  <div class="grid grid-cols-2 gap-3 sm:grid-cols-2">
    <!-- imagenes -->
    <app-product-carousel [images]="productResource.value().images" />

    <!--  -->
    <div>
      <h2 class="font-montserrat text-2xl font-bold">
        {{ productResource.value().title }}
      </h2>

      <div class="divider"></div>

      <p>{{ productResource.value().description }}</p>
    </div>
  </div>
}
